body {
    background-color: #e3e4efd8;
}

header {
    background-image: linear-gradient(to bottom right, rgb(94, 63, 233), #CCCCFF );
    padding: 15px;
    font-weight: bolder;
    text-shadow: 3px 4px rgb(65, 63, 63);
}  

#current-weather {
    background-color: #b1afee;
}
.forecast {
    background-color: #b1afee;
    font-size: 15px;

    justify-content: center;
}